@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;    
}

body{
    background-color: rgb(236, 236, 236);
}


.game-board {
    
    width: 100%;
    height: 500px;
    border-top: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEE8, #E0F6FF);
}

/*=============== Mario ===============*/

.mario {
    width: 60px;
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    padding-bottom: 34px;
    z-index: 10;
}

.jump{
    animation: mario-jump-animation 1500ms ease-out;
}

@keyframes mario-jump-animation {
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 180px
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    
    100%{
        bottom: px;
    }
    
}

/*=============== Cenário ===============*/

/*Tubulação */
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    padding-bottom: 34px;
    z-index: 10;
}

.pipe-animation{
    animation: grass-animation 3s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
    
}

/*Grama */
.grass {
    position: absolute;
    bottom: 0;
    width: 160px;
    right: -160px;
    padding-bottom: 34px;
}

.grass-animation{
    animation: grass-animation 3s infinite linear;
}

@keyframes grass-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
    
}


/*Piso*/
.floor {
        width: 1500px;
        position: absolute;
        bottom: 0;
        padding-bottom: 34px;
       
}
.floor-1{
    position: absolute;  
    z-index: 0;
}

.floor-animation-1{
    animation: floor-animation-1 3.1s infinite linear;
}

@keyframes floor-animation-1 {
    0%{
        right:0px;
    }
    100%{
        right: 100%;    
    }
}


.floor-2{
    position: absolute; 
    right: -1500px;
    z-index: 10;
}

.floor-animation-2{
    animation: floor-animation-2 6.2s infinite linear;
}

@keyframes floor-animation-2 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}


.floor-3{
    position: absolute;  
    right: -1500px;
    z-index: 10;
}

.floor-animation-3{
    animation: floor-animation-3 6.2s infinite linear;
}

@keyframes floor-animation-3 {
    0%{
        right:-1500px;
    }
    100%{
        right: 100%;    
    }
}

/*Nuvens*/
.clouds-1 {
    position: absolute;
    width: 550px;
    padding-top: 50px;
    z-index: 4;
    animation: clouds-animation-1 40s infinite linear;
}
.clouds-2 {
    position: absolute;
    width: 270px;
    padding-top: 150px;
    z-index: 3;
    animation: clouds-animation-2 50s infinite linear;
}
.clouds-3 {
    position: absolute;
    width: 150px;
    padding-top: 300px;
    z-index: 2;
    animation: clouds-animation-3 75s infinite linear;
}

/* jogo do menino*/


.overlay-content {
    position: relative;
    width: 60%;
    height: 60%;
  
    border-radius: 10px;
    background: url('../assets/overlay-background.png') center center;
    background-size: contain;
  
    overflow: hidden;
  
    z-index: 2;
  }
  
  .overlay-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  
    text-shadow: 0px 0px 10px #000000;
  }
  
  .overlay-score {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .overlay-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
  }
  
  .reset {
    outline: none;
    background: #a40000df;
    border-radius: 10px;
    color: #efefef;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  
    padding: 10px;
  }
  
  .reset:active {
    transform: scale(0.9);
  }
  
  .overlay-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
  
    background: #0000009a;
    border-radius: 10px;
    padding: 10px;
  }
  
  .container {
    max-width: 1200px;
    height: 95vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #87cefa 0%, #bdd8e3 100%);
  
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(121, 181, 31, 0.249);
    border-bottom: 10px solid #79b51f;
    border-radius: 10px;
  }
  
  .score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #598419;
  
    padding: 10px;
    background: #bdd8e3;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
  }




@keyframes clouds-animation-1 {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation-2 {
    from{
        right: -1300px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation-3 {
    from{
        right: -250px;
    }
    to{
        right: 100%;
    }
}


p {
    font-family:'Roboto Mono', monospace;
    padding: 50px;
    text-align: center;
    color: black;
}